$zoomIconBackground: rgba(26, 42, 58, .94);
$zoomIconColor: #fff;

$lightboxBackground: rgba(26, 42, 58, .94);

$figcaptionBackground: rgba(255, 255, 255, .94);
$figcaptionColor: #1a2a3a;

$counterBackground: transparent;
$counterColor: #fff;

$buttonBackground: transparent;
$buttonColor: #fff;

$loaderColor: #fff;

$slideMaxHeight: 85vh;
$slideMaxWidth: 85vw;

$baseFontSize: 18;