$zoomIconBackground: rgba(26, 42, 58, .94);
$zoomIconColor: #fff;

$lightboxBackground: rgba(26, 42, 58, .94);

$figcaptionBackground: rgba(255, 255, 255, .94);
$figcaptionColor: #1a2a3a;

$counterBackground: transparent;
$counterColor: #fff;

$buttonBackground: transparent;
$buttonColor: #fff;

$loaderColor: #fff;

$slideMaxHeight: 85vh;
$slideMaxWidth: 85vw;

/* Link */
.tobi-zoom {
  border: 0;
  box-shadow: none;
  display: block;
  position: relative;
  text-decoration: none;


  & img {
    display: block;
  }

  &__icon {
    align-items: center;
    background-color: $zoomIconBackground;
    bottom: 0;
    color: $zoomIconColor;
    display: flex;
    justify-content: center;
    line-height: 1;
    position: absolute;
    right: 0;


    & svg {
      color: $zoomIconColor;
      fill: none;
      height: 1.1111111111111112em;
      padding-bottom: .2222222222222222em;
      padding-left: .2222222222222222em;
      padding-right: .2222222222222222em;
      padding-top: .2222222222222222em;
      pointer-events: none;
      stroke-linecap: square;
      stroke-linejoin: miter;
      stroke-width: 2;
      stroke: $zoomIconColor;
      width: 1.1111111111111112em;
    }
  }
}

/* Hide scrollbar if lightbox is displayed */
.tobi-is-open {
  overflow-y: hidden;
}

/* Lightbox */
.tobi {
  background-color: $lightboxBackground;
  bottom: 0;
  box-sizing: border-box;
  contain: strict;
  font-size: 18px;
  left: 0;
  line-height: 1.5555555555555556;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1337;


  &[aria-hidden="true"] {
    display: none;
  }

  & *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }
}

/* Slider */
.tobi__slider {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform .3s cubic-bezier(.19, 1, .22, 1);
  will-change: transform;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

/* Slide */
.tobi__slider__slide {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* Slide content */
.tobi__slider__slide__content {



  &.draggable {
    cursor: grab;


    &:active {
      cursor: grabbing;
    }
  }

  > figure {
    margin: 0;
    position: relative;


    > img {
      display: block;
      height: auto;
      max-height: $slideMaxHeight;
      max-width: $slideMaxWidth;
      width: auto;
    }

    > figcaption {
      background-color: $figcaptionBackground;
      bottom: 0;
      color: $figcaptionColor;
      display: block;
      left: 0;
      padding-bottom: .2222222222222222em;
      padding-left: .4444444444444444em;
      padding-right: .4444444444444444em;
      padding-top: .2222222222222222em;
      position: absolute;
      white-space: pre-wrap;
      width: 100%;
    }
  }

  &[data-type="html"] {
    max-height: $slideMaxHeight;
    max-width: $slideMaxWidth;
    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;


    & video {
      cursor: auto;
      display: block !important;
      max-height: $slideMaxHeight;
      max-width: $slideMaxWidth;
    }
  }

  &[data-type="iframe"] {
    max-height: $slideMaxHeight;
    max-width: $slideMaxWidth;
    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;


    & iframe {
      display: block !important;
      height: $slideMaxHeight;
      width: $slideMaxWidth;
    }
  }

  &[data-type="youtube"] {
    max-height: $slideMaxHeight;
    max-width: $slideMaxWidth;
    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;


    & iframe {
      display: block !important;
    }
  }
}

/* Buttons */
.tobi button {
  align-items: center;
  appearance: none;
  background-color: $buttonBackground;
  border: .05555555555555555em solid transparent;
  color: $buttonColor;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  line-height: 1;
  margin: 0;
  opacity: .5;
  padding-top: .2222222222222222em;
  padding-left: .2222222222222222em;
  padding-right: .2222222222222222em;
  padding-bottom: .2222222222222222em;
  position: absolute;
  transition: opacity .5s cubic-bezier(.19, 1, .22, 1);
  will-change: opacity;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }


  & svg {
    pointer-events: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: #fff;
  }

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    transition: opacity .5s cubic-bezier(.19, 1, .22, 1);

    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &.tobi__prev,
  &.tobi__next {
    top: 50%;
    top: calc(50% - (4.444444444444445em / 2));


    & svg {
      height: 3.888888888888889em;
      width: 3.888888888888889em;
    }
  }

  &.tobi__prev {
    left: 0;
  }

  &.tobi__next {
    right: 0;
  }

  &.tobi__close {
    right: .2777777777777778em;
    top: 1em;


    & svg {
      height: 3.3333333333333335em;
      width: 3.3333333333333335em;
    }
  }

  &:disabled,
  &[aria-hidden="true"] {
    display: none;
  }
}

/* Counter */
.tobi__counter {
  align-items: center;
  background-color: $counterBackground;
  color: $counterColor;
  display: flex;
  font-size: 1.1111111111111112em;
  justify-content: center;
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 2.2222222222222223em;


  &[aria-hidden="true"] {
    display: none;
  }
}

/* Loader */
.tobi-loader {
  display: inline-block;
  height: 5.555555555555555em;
  left: calc(50% - (5.555555555555555em / 2));
  position: absolute;
  top: calc(50% - (5.555555555555555em / 2));
  width: 5.555555555555555em;


  &::before {
    animation: spin 1s infinite;
    border-radius: 100%;
    border: .2222222222222222em solid #949ba3;
    border-top-color: $loaderColor;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}
